.feature-wrapper {
    color: white;
    background: #6029D7;
    .title {
        font-size: 35px;
        font-weight: 400;
        line-height: 41px;
        letter-spacing: 0em;
        text-align: center;

        @media screen and (min-width: 768px) {
            font-size: 97px;
            line-height: 102px;
        }
    }
    .feature-card {
        padding: 20px;
        background: linear-gradient(180deg, #35157c 1.41%, #1c0649 100%);
        @media screen and (min-width: 768px) {
            background: linear-gradient(90deg, #35157c 0%, #1c0649 100%);
        }
        .title {
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: center;

            @media screen and (min-width: 768px) {
                font-size: 53px;
                font-weight: 500;
                line-height: 63px;
                text-align: left;
            }
        }
        .description {
            width: 70%;
            font-size: 15px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: center;

            @media screen and (min-width: 768px) {
                font-size: 22px;
                line-height: 29px;
                text-align: left;
            }
        }
        .tag {
            position: absolute;
            top: 20px;
            left: 20px;
            background: #0b041b;
            font-size: 19px;
            font-weight: 500;
            line-height: 23px;
            letter-spacing: 0em;
        }
    }
}
