// ../fonts/
@font-face {
    font-family: "Matter";
    src: url("../fonts/Matter-Heavy.ttf");
    src:
        local("Matter Heavy"),
        local("Matter-Heavy"),
        url("../fonts/Matter-Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Matter";
    src: url("../fonts/Matter-Bold.ttf");
    src:
        local("Matter Bold"),
        local("Matter-Bold"),
        url("../fonts/Matter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Matter";
    src: url("../fonts/Matter-SemiBold.ttf");
    src:
        local("Matter SemiBold"),
        local("Matter-SemiBold"),
        url("../fonts/Matter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Matter";
    src: url("../fonts/Matter-Medium.ttf");
    src:
        local("Matter Medium"),
        local("Matter-Medium"),
        url("../fonts/Matter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Matter";
    src: url("../fonts/Matter-Regular.ttf");
    src:
        local("Matter Regular"),
        local("Matter-Regular"),
        url("../fonts/Matter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Matter";
    src: url("../fonts/Matter-Light.ttf");
    src:
        local("Matter Light"),
        local("Matter-Light"),
        url("../fonts/Matter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}