.footer {
    .text {
        color: rgba(16, 24, 40, 0.5);
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        @media screen and (min-width: 768px) {
            font-size: 17px;
        }
    }
    .input-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        .input-wrapper {
            padding: 4px;
            border-radius: 38px;
            background: #faf7ff;
            border: 1px solid #dfe3e7;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
